





.bg-gray{
    background-color: #f9f9f9;
}
.thead-purple{
    background: #400082;
    color: #fff;
}
.form{
    width: 360px;
    margin: 90px auto 0 auto;
}
.form .title{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #400082;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}


form .form-row{
    margin: 0 auto;
}

form .form-row .form-group{
    margin-top: 10px;
}

form .form-control{
    border: #fff;
    border-radius: 0px 0px !important;
}
button[type="submit"]{
    width: 100%;
    background-color: #f7f7f7;
    color: #000;
    border-color: #400082;
    margin-top: 10px;
    font-weight: bold;
}
button[type="submit"]:hover{
    background-color: #400082;
}